.toolbar {
  height: 56px;
  width: 100%; 
  position: fixed;
  left: 0;
  top: 0;
  background-color: #703B09; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.toolbar nav {
  height: 100%;
}

@media (max-width: 499px) {
  .desktop-only {
    display: none;
  }
}