.side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  max-width: 70%;
  height: 100%;
  z-index: 200;
  background-color: #fff;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
  .side-drawer {
    display: none;
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}
