.navigation-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

@media (min-width: 500px) {
  .navigation-items {
    flex-direction: row;
  }
}